<html>
    <head>
        <title>Yussik's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 19.08.2018, 13:50</p>
            <h2><a href="">Первый пост</a></h2>
            <p>На дворе трава, на траве дрова</p>
        </div>

        <div>
            <p>published: 19.08.2018, 14:00</p>
            <h2><a href="">Второй пост</a></h2>
            <p>Чувствую, что русский язык надо подключать как-то отдельно, так что жду лажу!</p>
        </div>
    </body>
</html>